@import '../../components/directory/directory.styles.scss';
@import '../../components/menu-item/menu-item.styles.scss';

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 80px;

}

 
    
